body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #222;
    color: #F2DCE0;
}

header {
    background:#F288AF;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

h2, h3 {
    color: #F288AF;
}

h1 {
    color: #222;
}

.imagem-principal {
    width: 60%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

a {
    color: #F2DCE0;
    text-decoration: none;
}

p {
    a:hover {
        color: white;
        text-shadow: 0 0 3px #F2DCE0, 0 0 5px #F26DAB;
    }
}

li:hover {
    color: white;
    text-shadow: 0 0 3px #F2DCE0, 0 0 5px #F26DAB;
}

ul {
    list-style: square;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

div {
    border: 1px solid #F2DCE0;
    border-radius: 15px;
    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 0 auto;
    width: fit-content;
}

button {
    background: #ff4081;
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #e83e70;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: #222;
}

th, td {
    border: 1px solid #444;
    padding: 1rem;
}

th {
    background: #333;
    color: #ff4081;
}

footer p {
    margin: 20px 20px;

}

@media print
{
    .forms
    {
        display: none;
    }
    footer
    {
        display: none
    }
}

